

/* modal styling */
.create-events-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 700px;
  border: none;
  outline: none;
  box-shadow: 24;
  background-color: white;
  padding: 30px;
}

.create-event-form {
  display: flex;
  justify-content: center;
  margin: 0;
  max-height: 600px;

  .input-form-left {
    flex: 1;

    .img-container {
      .event-img {
        height: 200px;
        width: 300px;
        border: solid grey 0.5px;
        border-radius: 10px;
      }

      .add-img-btn {
        width: 300px;
        border-radius: 10px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        cursor: pointer;
        margin: 20px 0 0 0;
        background: rgb(255, 145, 0);
        color: white;
      }
    }

    .select-container {
      max-width: 305px;
     
      .select {
        display: flex;
        flex-direction: column;
      
        .checkbox-label {
          font-weight: bold;
        }
      }
    }
  }

  .input-form-right {
    flex: 1
  }

  .input-event {
    display: flex;
    flex-direction: column;
    margin: 0 20px 0 20px;

    .label {
      margin: 0 20px 0 20px;
      color: rgb(134, 134, 134);
    }
  }
  
  .input-event-small {
    display: flex;
    flex-direction: row;
    margin: 0;

    .label {
      margin: 0 20px 0 20px;
      color: rgb(134, 134, 134);
    }
  }

  

  .create-event-btn {
    width: 360px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    margin: 20px 0 20px 0;
    background-color: olive;
    margin-left: 36px;
  }
}
