.event-card {
  .like-btn {
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      .MuiSvgIcon-root {
        opacity: 0.7;
      }
    }

    .like-btn-circle {
      position: absolute;
      left: 210px;
      bottom: 125px;
      background-color: white;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      border: solid 0.5px grey;
    }

    > :last-child {
      position: absolute;
      left: 220px;
      bottom: 135px;
    }
  }

  .event {
    height: 300px;
    width: 300px;
    border: solid grey 1px;
    margin-bottom: 80px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    grid-template-rows: 60px 40px 40px 160px;
    display: grid;
    justify-items: center;
    position: relative;

    .avatar {
      position: absolute;
      top: -20px;
      left: -20px;

      img {
        width: 80px;
        height: 80px;
      }
    }

    .event-name {
      font-weight: bold;
      color: black;
      margin: 10px 20px 0 20px;
      text-align: center;
    }

    .event-date {
      font-size: smaller;
      color: rgb(223, 114, 20);
    }

    .event-place {
      font-size: smaller;
      color: rgb(162, 157, 157);
    }

    .event-image {
      border: solid grey 1px;
      height: 140px;
      width: 250px;
      border-radius: 8px;
      margin-bottom: 10px;
      align-self: center;
      object-fit: cover;
    }
  }
}
