.event-details {
  display: grid;
  grid-template-columns: 33% 33%;
  justify-content: space-evenly;
  margin: 110px 0;
  
  .details-left {
    .image-container {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .event-img {
        height: 400px;
        width: 500px;
        border: solid grey 1px;
        border-radius: 10px;
      }
    }

    .event-join-list {
      margin: 50px 0;
      display: flex;
      flex-direction: column;
  
      .join-users {
        font-weight: bolder;
        font-size: 20px;
      }

      .avatar-container {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;

        .avatars {
          .avatar {
            width: 80px;
            height: 80px;
          }
        }
      }
    }
  }

  .details-right {
    .event-name {
      font-weight: bold;
      font-size: 30px;
    }

    .event-date {
      font-size: 20px;
      color: orangered;
      padding-top: 20px;
    }

    .event-place {
      font-size: 20px;
      color: grey;
      
      div {
        padding-top: 20px;
      }
    }

    .event-holder {
      display: flex;
      padding-top: 10px;
      align-items: center;

      .event-owner {
        .avatar {
          width: 80px;
          height: 80px;
        }
      }

      .comments {
        .speech-bubble {
          border-radius: 10px;
          position: relative;
          display: inline-block;
          margin: 1.5em 0 1.5em 20px;
          padding: 20px;
          color: grey;
          font-size: 16px;
          border: solid 3px grey;
          box-sizing: border-box;
          height: 180px;
          width: 300px;
        }

        .speech-bubble::before {
          content: "";
          position: absolute;
          top: 50%;
          left: -24px;
          margin-top: -12px;
          border: 12px solid transparent;
          border-right: 12px solid #FFF;
          z-index: 2;
        }

        .speech-bubble::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -30px;
          margin-top: -14px;
          border: 14px solid transparent;
          border-right: 14px solid #555;
          z-index: 1;
        }
      }
    }

    .btn-container {
      display: flex;
      justify-content: center;
      margin-top: 70px;

      .join-btn,
      .invite-btn {
        display: flex;
        justify-content: center;
        border-radius: 20px;
        cursor: pointer;
        margin: 20px 10px;
        height: 60px;
        width: full;
        width: 180px;
        align-items: center;
      }

      .join-btn {
        background-color: beige;
      
        &.joined {
          background-color: bisque;
        }
      }

      .invite-btn {
        background-color: rgb(238, 246, 158);
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .event-details {
    .details-left {
      .image-container {
        .event-img {
          height: 300px;
          width: 400px;
          border: solid black 1px;
          border-radius: 10px;
        }
      }

      .event-join-list {
        .avatar-container {
          .avatars {
            .avatar {
              width: 70px;
              height: 70px;
            }
          } 
        }
      }
    }

    .details-right {
      .event-name {
        font-size: 24px;
      }

      .event-date,
      .event-place {
        font-size: 16px;
      }

      .event-holder {
        .event-owner {
          .avatar {
            height: 70px;
            width: 70px;
          }
        }

        .comments {
          .speech-bubble {
            width: 250px;
            height: 140px;
            margin: 1em 0 1em 20px;
          }
        }
      }

      .btn-container {
        margin-top: 80px;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .event-details {
    .details-left {
      .event-join-list {
        .avatar-container {
          .avatars {
            .avatar {
              height: 60px;
              width: 60px;
            }
          }
        }
      }
    }

    .details-right {
      .event-holder {
        .event-owner {
          .avatar {
            height: 60px;
            width: 60px;
          }
        }

        .comments {
          .speech-bubble {
            height: 120px;
            width: 250px;
          }
        }
      }
    }
  }
}
