@import "../../variables.scss";

.navbar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  border-right: 1px solid lightgray;
  
  .app-name {
    color: black;
    margin: 25px 0;
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: lighter;
  }

  .user-name {
    margin: 30px 0 30px 0;
    font-weight: lighter;
  }

  .user-avatar {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
  }

  .profile-link,
  .friends-link,
  .calendar-link {
    color: grey;
    height: 30px;
    margin: 10px 0;

    &:hover {
      background-color: rgb(247, 246, 234);
      width: 150px;
      height: 35px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
    }
  }

  .add-friends-btn,
  .logout-btn {
    width: 150px;
    border-radius: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    margin: 20px 15px 20px 15px;
  }

  .add-friends-btn {
    background: $turquoise;
    
  }

  .logout-btn {
    background: lightgray;
  }
}
