@import "../../variables.scss";

.navbar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border-right: 1px solid lightgray;

  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .profile-link,
  .friends-link {
    margin-bottom: 20px;
  }

  .add-friends-btn,
  .logout-btn {
    width: 150px;
    
    border-radius: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    margin-bottom: 20px;
  }

  .add-friends-btn {
    background: $turquoise;
  }

  .logout-btn {
    background: lightgray;
  }
}
