.event-suggestion {
  padding: 0 25px;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 50px 30px;

    .header {
      font-weight: normal;
    }

    .sort-container {
      padding: 10px;
    }
  }

  .event-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
  }
}
