.profile {
  .profile-header {
    font-size: 32px;
    font-weight: bold;
    margin: 50px 0;
    text-align: center;
  }

  .user-avatar {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .user-info-container {
    margin: 100px 100px 50px 100px;
  }

  .btn-container {
    display: flex;
    justify-content: end;
    margin: 0 100px 50px 0;

    .edit-profile-btn {
      padding: 5px;
      margin: 10px;
      width: 100px;
      height: 50px;
      border-radius: 10px;
      font-size: 18px;
    }
  }
}
