@import "../../variables.scss";


.create-event-btn {
  width: 150px;
  border-radius: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  border: 2px solid $turquoise;
  margin-bottom: 9.77px;
}


/* modal styling */
.create-event-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1100px;
  height: 1150px;
  outline: none;
  box-shadow: 24;
  background-color: white;
  color: grey;

  .create-event-header {
    height: 100px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    
    p {
      font-size: 30px;
      display: flex;
      align-items: center;
      margin: 0 60px 0 80px;
      border-bottom: solid grey 1px;
      width: 100%;
    }
  }

  .create-event-main {
    padding: 0 30px 30px 30px;

    .form-container {
      display: flex;
      justify-content: center;
      margin: 0;
      max-height: 600px;

      .input-form-left {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;

        .input-event {
          display: flex;
          flex-direction: column;
          margin: 0 20px 12px 20px;
          width: 400px;
      
          .label {
            margin: 0 20px 5px 0;
            color: rgb(134, 134, 134);

            img {
              max-height: 200px;
            }
          }
        }

        .input-event-small {
          display: flex;
          width: 440px;
        }

        .input-event-large {
          .MuiOutlinedInput-input {
            height: 140px;
          }
        }
      }

      .input-form-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-right: 30px;

        .date-picker,
        .time-picker {
          align-self: center;
        }
      }
    }
  }
}
