@import "../../variables.scss";

.create-event-btn {
  width: 150px;
  border-radius: 30px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  cursor: pointer;
  background-color: $yellow;
  margin-bottom: 9.77px;
}

/* modal styling */
.create-event-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 1150px;
  outline: none;
  box-shadow: 24;
  background-color: white;
  color: grey;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 30px;
  box-sizing: border-box;

  .create-event-header {
    height: 100px;
    display: flex;
    align-items: center;

    p {
      font-size: 25px;
      align-items: center;
      border-bottom: solid grey 1px;
      width: 100%;
    }
  }

  .create-event-main {
    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      margin: 0;

      .input-event {
        display: flex;
        flex-direction: column;
        margin: 8px 0;

        .label {
          color: rgb(134, 134, 134);
          margin-bottom: 5px;
        }

        &.small {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .input-event {
            &:first-child {
              flex: 3;
            }
            &:last-child {
              margin-left: 30px;
              flex: 2;
            }
          }
        }
      }

      .date-picker {
        margin-top: 21px;
        max-height: 345px;
      }
    }
  }
}
