@import "../../variables.scss";

.home {
  padding: 0 25px;

  .icon-container {
    display: flex;
    margin-top: 21.44px;

    .search {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 30px;
      height: 45px;
    }
  }
  
  
}
